* {
  margin: 0;
  padding: 0;
}
/* The Page */

html {
  scroll-behavior: smooth;
}

body {
  background-color: lightgrey;
}

/* Title */
h1 {
  color: #000;
}

header {
  width: 100vw;
  display: flex;
  align-items: center;
  padding: 2.5px 1px;
  gap: 5px;
  border: solid black 2px;
  background-color: #fff;
  justify-content: center;
}

nav a {
  display: inline;
  margin-right: 20px;
  padding: 20px;
  color: #000;
  text-decoration: none;
  align-items: center;
  text-align: center;
}

nav a:hover {
  text-decoration: underline;
  transition: 1s;
}

/* Other Title */
h2 {
  text-decoration: solid underline;
  font-family: "Sedan SC", system-ui;
  font-style: normal;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

/* Games If You are Bored */
h4 {
  text-align: center;
}

/* Images */
.images {
  margin: 0 auto;
  display: flex;
  width: 150px;
  padding: 5px;
  align-items: center;
  align-self: center;
}

/* Input Field */
.form {
  text-align: center;
}

.name {
  font-family: "Tiny5", sans-serif;
  font-weight: 400;
  font-size: 24px;
  font-style: normal;
  width: 150px;
  text-align: center;
  margin: 5px;
  border-radius: 15px;
  background-image: url("./images/id-card.png");
  background-position: 10px 7px;
  background-size: 15px;
  background-repeat: no-repeat;
  padding-left: 20px;
  width: 100px;
  align-self: center;
}

.creator {
  font-family: "Tiny5", sans-serif;
  font-weight: 400;
  font-size: 24px;
  font-style: normal;
  width: 150px;
  align-self: center;
  text-align: center;
  margin: 5px;
  border-radius: 15px;
  background-image: url("./images/innovator.png");
  background-position: 10px 7px;
  background-size: 15px;
  background-repeat: no-repeat;
  padding-left: 20px;
  width: 110px;
  align-self: center;
}

.rating {
  font-family: "Tiny5", sans-serif;
  font-weight: 400;
  font-size: 24px;
  background-color: white;
  background-image: url("./images/star.png");
  background-position: 10px 10px;
  background-size: 11px;
  background-repeat: no-repeat;
  padding-left: 40px;
  width: 35px;
  align-self: center;
  margin: 5px;
  border-radius: 15px;
}

/* Submit Button */

.submit {
  cursor: pointer;
  font-family: "Tiny5", sans-serif;
  font-weight: 400;
  font-style: normal;
  border-radius: 15px;
  width: 75px;
}

.submit:hover {
  transition: 1s;
  background-color: black;
  color: white;
}

/* Here Are Your Replies */
p {
  text-decoration: solid underline;
  font-family: "Sedan SC", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  text-align: center;
}

/* Input Answers */

.games {
  font-family: "Tiny5", sans-serif;
  font-weight: 400;
  font-size: 24px;
  font-style: normal;
  width: 450px;
  text-align: center;
  border: solid 2px black;
  margin: 0 auto;
  padding: 10px;
  align-items: center;
}

.games:hover {
  background-color: black;
  color: white;
}

/* Dislike And Like Buttons */

.dislikeBtn {
  background-image: url("./images/dislike.png");
  background-position: 7px 5px;
  background-size: 11px;
  background-repeat: no-repeat;
  padding-left: 25px;
  width: 40px;
  align-self: center;
  border-radius: 10px;
  cursor: pointer;
}

.dislikeBtn:hover {
  background-color: lightcoral;
  color: black;
}

.likeBtn {
  background-image: url("./images/like.png");
  background-position: 7px 3px;
  background-size: 11px;
  background-repeat: no-repeat;
  padding-left: 25px;
  width: 40px;
  align-self: center;
  border-radius: 10px;
  cursor: pointer;
}

.likeBtn:hover {
  background-color: lightblue;
  color: black;
}

/* Footer */

.copyright {
  width: 100vw;
  height: 75px;
  margin-top: 600px;
  text-align: center;
  padding: 5px 0px;
  margin-bottom: auto;
  background: #a1b0ab;
  color: #000;
}